.ceo-container:hover {
	background: var(--project-color-dark);
}

.ceo-container:hover .ceo-dots {
	background-color: var(--accent-blue);
}

.ceo-container:hover .ceo-image-container {
	align-items: start;
}

.ceo-container:hover .ceo-social-container {
	width: 40px;
}

.ceo-container:hover .ceo-social-container > i {
	visibility: visible;
	color: var(--project-color-light);
}

.ceo-container:hover .ceo-social-container > i:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.ceo-container:hover .ceo-figure,
.ceo-container:hover .ceo-figcaption {
	text-align: left;
}

.ceo-container:hover .ceo-message-header {
	border-top: 2px outset var(--accent-blue);
	border-bottom: 2px outset var(--accent-blue);
}

.ceo-container:hover .ceo-figcaption,
.ceo-container:hover .ceo-em {
	color: var(--accent-blue);
	visibility: visible;
}

.ceo-container:hover .ceo-quote-marks {
	visibility: visible;
}

.ceo-container:hover .ceo-statement-container {
	color: var(--project-color-light);
}

/* **Chief Cards Hover Transition Styles */
.profile-card:hover {
	background-color: var(--project-color-dark);
	color: var(--project-color-light);
	transform: scale(1.2);
	border-radius: 15px;
	transition: all ease 0.5s;
	align-items: start;
}

.profile-card:hover .chief-social-container {
	width: 50px;
	transition: width ease-in 0.2s;
}

.profile-card:hover .chief-social-container > i {
	visibility: visible;
	transition: visibility ease-in 0.8s;
	color: var(--accent-blue);
}

.profile-card:hover .chief-social-container > i:hover {
	color: var(--project-color-light);
	transform: scale(1.1);
	cursor: pointer;
}

.profile-card:hover .profile-img-container {
	justify-content: flex-start;
}

.profile-card:hover .profile-text-container {
	align-items: start;
}

.profile-card:hover .profile-text-container > h5 {
	color: var(--accent-blue);
}

/* **HealthCare Animation */

.healthcare-span:after {
	content: 'Impersonal';
	animation: word 10s infinite;
}

@keyframes word {
	0%,
	14% {
		content: 'Stressful';
	}

	15%,
	28% {
		content: 'Unreachable';
	}
	29%,
	42% {
		content: 'Uncaring';
	}

	43%,
	56% {
		content: 'A Compromise';
	}

	57%,
	70% {
		content: 'Inconvenient';
	}

	71%,
	84% {
		content: 'Delayed';
	}
}
