:root {
	--black: #000000;
	--white: #ffffff;
	--ol: 1px solid white;
	--olB: 1px solid blue;
	--olY: 1px solid yellow;
	--olR: 1px solid red;
	--main-bg-color: #3674b5;
	--accent-blue: #2323ff;
	--project-color-dark: #1a2d42;
	--project-color-light: #b4bdc5;
	--project-font: 'Hello Bonia Serif', sans-serif;

	--text-shadow: 1px 3px 3px #000000;
}

* {
	padding: 0;
	margin: 0;
}

a,
li {
	text-decoration: none;
	list-style: none;
	cursor: pointer;
}

html {
	justify-content: center;
	display: flex;
	width: 100%;
	background-color: var(--main-bg-color);
	padding: 20px 0;
	height: fit-content;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1559px;
	min-width: 320px;
	height: fit-content;
	position: relative;
	padding-top: 20px;
	overflow-x: hidden;
}

.container {
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}

.logo-nav-container {
	width: 100%;
	height: auto;
	padding: 8px;
	justify-self: flex-start;
	justify-content: space-between;
	margin-bottom: 20px;
	position: relative;
}

.logo-container {
	width: 300px;
	height: 80px;
}

.logo-text {
	font-size: 5rem;
	color: var(--project-color-light);
	text-shadow: 1px 3px 3px var(--black);
	font-family: var(--project-font);
}

.nav-bar {
	width: 860px;
	height: 80px;
	justify-content: space-evenly;
}

.main-nav-links,
.patient-toggle {
	display: flex;
	box-sizing: border-box;
	color: var(--project-color-light);
	font-size: 18px;
	width: 120px;
	place-items: center;
	place-content: center;
	border-radius: 10px;
	padding: 2px;
	column-gap: 5px;
	cursor: pointer;
	text-shadow: var(--text-shadow);
}

.main-nav-links {
	font-size: 20px;
	width: 150px;
}

#menu-toggler,
#patient-mobile-menu-toggle {
	display: none;
	color: var(--project-color-light);
	font-size: 25px;
	position: absolute;
	z-index: 2;
	right: 20px;
	cursor: pointer;
	text-shadow: 1px 1px 1px var(--project-color-dark);
	top: 5px;
}

.mobile-menu,
.patient-mobile-menu {
	width: 280px;
	height: 0;
	z-index: 1;
	position: absolute;
}

.mobile-menu-active {
	flex-direction: column;
	width: 280px;
	height: 350px;
	position: absolute;
	right: 10px;
	top: -5px;
	border: 4px outset var(--project-color-dark);
	background: linear-gradient(
		320deg,
		var(--project-color-light),
		var(--project-color-dark),
		var(--project-color-dark),
		var(--project-color-dark)
	);
	row-gap: 20px;
	transition: height ease-in 0.2s;
	z-index: 1;
}

.patient-mobile-menu-active {
	height: 220px;
}

.mobile-nav-links {
	display: none;
	color: var(--accent-blue);
	width: 80%;
	height: 40px;
	place-items: center;
	column-gap: 15px;
	font-size: 1.3rem;
}

.btn {
	color: var(--project-color-light);
	width: 125px;
	height: 45px;
	border-radius: 15px;
	border: 1px solid var(--project-color-dark);
	box-shadow: 1px 1px 5px 1px var(--project-color-dark);
	color: var(--project-color-light);
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	background: radial-gradient(var(--accent-blue), var(--project-color-dark));
	margin-top: 10px;
	box-sizing: border-box;
	place-content: center;
	text-align: center;
	text-shadow: var(--text-shadow);
}
.main-nav-links:hover,
.mobile-nav-links:hover,
.btn:hover {
	transform: scale(1.1);
}

.main-nav-links:hover {
	text-decoration: underline 1px var(--project-color-dark);
}

section {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	margin-bottom: 50px;
	flex-wrap: wrap;
}
