@media (max-width: 1024px) {
	.nav-bar {
		display: none;
	}

	#menu-toggler,
	#patient-mobile-menu-toggle {
		display: flex;
	}

	.patient-center-section .mobile-menu-active {
		height: 220px;
		width: 240px;
	}

	.patient-toggle-container {
		display: none;
	}

	.hero-section {
		justify-content: center;
	}
	.hero-text-container,
	.hero-image-container {
		width: 500px;
		height: 500px;
	}

	.hero-text {
		font-size: 4rem;
	}

	.hero-slogan-text {
		font-size: 1.3rem;
	}

	.hero-tagline {
		font-size: 2.2rem;
	}

	.services-cards-wrapper {
		gap: 30px;
	}

	.healthCare-animation-container {
		flex-direction: column;
		height: 150px;
	}
}

/* ++Styles for the trash ass ipad */
@media (max-width: 820px) and (min-width: 468px) {
	.services-cards-wrapper {
		flex-direction: column;
	}
	.ceo-container {
		flex-direction: column;
	}

	.patient-forms-wrapper-container {
		justify-content: center;
	}
}

/* ++Styles for the ipad */

@media (max-width: 467px) {
	#menu-toggler {
		top: 45px;
	}

	.mobile-menu-active {
		top: 35px;
	}

	.patient-center-section .mobile-menu-active {
		top: -2px;
	}

	.logo-nav-container,
	.logo-container {
		justify-content: flex-start;
	}

	.body-banner-text {
		font-size: 1.5rem;
	}

	.services-header-text {
		font-size: 1.8rem;
		text-align: center;
	}

	.search-container,
	.search-toggles-container {
		width: 460px;
	}

	.patient-care-header-container {
		justify-content: center;
	}
	.patient-center-header-text {
		font-size: 3rem;
	}
	.patient-forms-wrapper-container {
		gap: 60px;
	}

	.why-eterna-header-question {
		font-size: 2rem;
		text-align: center;
	}

	.why-question-2 {
		height: fit-content;
	}
}

@media (max-width: 320px) {
	.body-banner-text {
		font-size: 1.1rem;
	}

	.logo-text,
	.hero-text {
		font-size: 3rem;
	}

	.hero-text-container {
		height: 450px;
	}

	.facility-img-container {
		margin-bottom: 20px;
	}

	.facility-social-container {
		font-size: 1.5rem;
	}

	.facility-img-container > img {
		height: 100%;
		width: 100%;
	}

	.ceo-container {
		border-radius: 15px;
	}

	.ceo-social-container {
		top: 50px;
		right: 5px;
	}

	.ceo-dots:nth-child(1) {
		left: 70px;
		top: 20px;
		padding: 0;
	}

	.ceo-dots:nth-child(2) {
		left: 70px;
		bottom: 55px;
		padding: 0;
		height: 180px;
		width: 180px;
	}

	.ceo-dots:nth-child(3) {
		display: none;
	}

	.ceo-image-container {
		height: 500px;
	}

	.ceo-image-container > img {
		width: 260px;
		height: 290px;
	}

	.ceo-figure {
		font-size: 23px;
		margin-top: 2px;
	}

	.ceo-figcaption {
		font-size: 14px;
	}

	.quote-top {
		left: 10px;
		top: 70px;
	}

	.quote-bottom {
		right: 30px;
		bottom: 80px;
	}

	.ceo-statement-container {
		justify-content: start;
	}

	.ceo-statement {
		font-size: 1rem;
		width: 90%;
		line-height: 1.8;
	}

	.patient-center-header-text {
		font-size: 2.5rem;
	}

	.form-cover-container {
		border-radius: 8px;
	}

	.form-cover-header {
		font-size: 1.8rem;
	}

	.cover-text {
		line-height: 1.2;
		text-align: justify;
	}

	.cover-icon-container > .patient-toggle {
		width: 20px;
		height: 20px;
		font-size: 0.8rem;
	}

	.inputs {
		width: 95%;
		border-radius: 5px;
	}

	.static-toggles {
		width: 100px;
		height: 35px;
		border-radius: 10px;
	}

	.top-exec-container {
		padding: 0;
	}

	.exec-card {
		width: 310px;
	}

	.exec-card .profile-text-container > h4 {
		font-size: 12px;
	}

	.exec-statement {
		font-size: 16px;
	}

	.search-heading-text {
		width: 312px;
		line-height: 1.3;
		font-size: 1.2rem;
	}

	.search-container {
		width: 305px;
		margin-bottom: 30px;
	}

	.search-input::placeholder {
		font-size: 16px;
	}

	.fa-magnifying-glass {
		font-size: 20px;
	}

	.search-toggles-container {
		width: 300px;
		height: auto;
		flex-wrap: wrap;
		justify-content: space-around;
		gap: 30px;
		margin-bottom: 20px;
	}

	.search-toggle {
		width: 60px;
		height: 60px;
		font-size: 16px;
		padding: 10px;
	}
}
