@media (max-width: 1024px) {
	.nav-bar {
		display: none;
	}

	#menu-toggler {
		display: flex;
		color: var(--project-color-dark);
		font-size: 25px;
		position: absolute;
		z-index: 2;
		right: 20px;
		cursor: pointer;
		text-shadow: 1px 1px 1px var(--project-color-dark);
		top: 5px;
	}

	.hero-section {
		justify-content: center;
	}
	.hero-text-container,
	.hero-image-container {
		width: 500px;
		height: 500px;
	}

	.services-cards-wrapper {
		gap: 30px;
	}
}

/* ++Styles for the trash ass ipad */
@media (max-width: 820px) and (min-width: 468px) {
	.services-cards-wrapper {
		flex-direction: column;
	}
}

/* ++Styles for the trash ass ipad */

@media (max-width: 467px) {
	#menu-toggler {
		top: 45px;
	}

	.mobile-menu-active {
		top: 35px;
	}
	.logo-nav-container,
	.logo-container {
		justify-content: flex-start;
	}

	.services-header-text {
		font-size: 1.8rem;
		text-align: center;
	}
}

@media (max-width: 320px) {
	.logo-text,
	.hero-text {
		font-size: 3rem;
	}

	.facility-social-container {
		font-size: 1.5rem;
	}

	.chairman-image-container > img {
		width: 300px;
		height: 400px;
	}

	.chairman-statement {
		font-size: 1.5rem;
		width: 90%;
		text-align: center;
	}
}
