@media (max-width: 1024px) {
	.body-banner-container {
		position: relative;
		background: linear-gradient(90deg, var(-accent-blue), var(--project-color-dark));
	}

	.healthCare-animation-container {
		flex-direction: column;
		height: 150px;
		row-gap: 15px;
	}

	.nav-bar {
		display: none;
	}

	#menu-toggler,
	#patient-mobile-menu-toggle {
		display: flex;
	}

	.hero-text {
		font-size: 4rem;
	}

	.hero-slogan-text {
		font-size: 1.3rem;
	}

	.hero-tagline {
		font-size: 2.2rem;
	}

	.services-cards-wrapper {
		gap: 30px;
	}

	.chief-select-container {
		row-gap: 20px;
	}

	.chief-search-input {
		display: flex;
	}
	.chief-search-container {
		display: none;
	}

	.why-question-2 {
		text-align: center;
	}

	.footer-wrapper {
		justify-content: space-around;
	}

	.footer-wrapper .chat-container {
		margin-top: 30px;
	}
	.chat-form {
		height: 100%;
	}
}

/* ++Styles for the trash ass ipad */
@media (max-width: 820px) and (min-width: 468px) {
	.services-cards-wrapper {
		flex-direction: column;
	}
	.ceo-container {
		flex-direction: column;
	}

	.patient-forms-wrapper-container {
		justify-content: center;
	}

	.chief-select-container {
		justify-content: center;
	}

	.chief-search-container {
		display: none;
	}
}

/* ++Styles for the ipad */

@media (max-width: 467px) {
	#menu-toggler {
		top: 45px;
	}

	.mobile-menu-active {
		top: 35px;
	}

	.logo-nav-container,
	.logo-container {
		justify-content: flex-start;
	}
	.chief-select-container {
		justify-content: center;
	}
	.section-banner-text {
		font-size: 1.5rem;
	}

	.services-header-text {
		font-size: 1.8rem;
		text-align: center;
	}
	.why-eterna-header-question {
		font-size: 2rem;
		text-align: center;
	}

	.why-question-2 {
		height: fit-content;
		font-size: 1.6rem;
	}

	.exec-header {
		text-align: center;
		margin-top: 10px;
	}

	.search-container,
	.search-toggles-container {
		width: 460px;
	}

	.patient-care-header-container {
		justify-content: space-between;
	}
	.patient-portal-spans {
		width: 130px;
		font-size: 1.1rem;
	}

	.patient-portal-spans > em {
		font-size: 0.8rem;
	}

	.search-toggle {
		height: 60px;
	}

	.patient-forms-wrapper-container {
		gap: 60px;
	}

	.review-header-container > p {
		word-wrap: break-word;
		hyphens: auto;
		text-align: justify;
	}

	.footer-nav {
		text-align: center;
	}

	.final-footer {
		flex-direction: column;
	}
}

@media (max-width: 420px) {
	.section-banner-container {
		width: 100%;
	}
	.section-banner-text {
		font-size: 1.1rem;
	}

	.logo-text,
	.hero-text {
		font-size: 2.5rem;
	}

	.facility-img-container {
		margin-bottom: 20px;
	}

	.facility-social-container {
		font-size: 1.5rem;
	}

	.facility-img-container > img {
		height: 100%;
		width: 100%;
	}

	.why-card {
		width: 295px;
		height: 220px;
	}

	.ceo-container {
		border-radius: 15px;
	}

	.ceo-social-container {
		top: 50px;
		right: 5px;
	}

	.ceo-dots:nth-child(1) {
		left: 70px;
		top: 20px;
		padding: 0;
	}

	.ceo-dots:nth-child(2) {
		left: 70px;
		bottom: 55px;
		padding: 0;
		height: 180px;
		width: 180px;
	}

	.ceo-dots:nth-child(3) {
		display: none;
	}

	.ceo-image-container {
		height: 500px;
	}

	.ceo-image-container > img {
		width: 260px;
		height: 290px;
	}

	.ceo-figure {
		font-size: 23px;
		margin-top: 2px;
	}

	.ceo-figcaption {
		font-size: 14px;
	}

	.quote-top {
		left: 10px;
		top: 70px;
	}

	.quote-bottom {
		right: 30px;
		bottom: 80px;
	}

	.ceo-statement-container {
		justify-content: start;
	}

	.ceo-statement {
		font-size: 1rem;
		width: 90%;
		line-height: 1.8;
	}

	.patient-center-header-text {
		font-size: 2.5rem;
	}
	.patient-forms-wrapper-container {
		padding: 0;
	}
	.patient-form-container {
		width: 100%;
	}

	.form-cover-container {
		border-radius: 8px;
		width: 100%;
	}

	.form-cover-header {
		font-size: 1.8rem;
	}

	.cover-text {
		line-height: 1.2;
		text-align: justify;
	}

	.cover-icon-container > .patient-toggle {
		width: 20px;
		height: 20px;
		font-size: 0.8rem;
	}

	.inputs {
		width: 95%;
		border-radius: 5px;
	}

	.static-toggles {
		width: 100px;
		height: 35px;
		border-radius: 10px;
	}

	.top-exec-container {
		padding: 0;
	}

	.chief-card-container {
		width: fit-content;
	}

	.exec-card {
		width: 310px;
	}

	.exec-card .profile-text-container > h4 {
		font-size: 12px;
	}

	.exec-statement {
		font-size: 16px;
	}
	.patient-care-header-container {
		padding: 0;
		justify-content: space-around;
	}

	.patient-portal-spans {
		width: 80px;
		font-size: 1rem;
	}

	.patient-portal-spans > em {
		font-size: 0.6rem;
	}

	.search-heading-text {
		width: 312px;
		line-height: 1.3;
		font-size: 1.2rem;
	}

	.search-container {
		width: 305px;
		margin-bottom: 30px;
	}

	.search-input::placeholder {
		font-size: 16px;
	}

	.fa-magnifying-glass {
		font-size: 20px;
	}

	.search-toggles-container {
		width: 300px;
		height: auto;
		flex-wrap: wrap;
		justify-content: space-around;
		gap: 30px;
		margin-bottom: 20px;
		text-align: center;
	}

	.search-toggle {
		width: 80px;
		height: 80px;
		font-size: 16px;
		padding: 10px;
		row-gap: 15px;
	}

	.review-card {
		width: 310px;
		height: 350px;
	}

	.footer-wrapper {
		padding: 0;
	}

	.footer-wrapper .footer-nav-container {
		width: 95%;
	}

	.footer-wrapper .company-footer-container {
		width: 100%;
	}

	.footer-wrapper .chat-container {
		width: 95%;
	}

	.chat-form {
		box-shadow: none;
	}
}
