.hero-section {
	background: linear-gradient(
		15deg,
		rgba(212, 216, 221, 0.5),
		rgba(26, 45, 66, 0.5),
		rgba(26, 45, 66, 0.2),
		rgba(26, 45, 66, 0.5),
		rgba(26, 45, 66, 0.3)
	);
	justify-content: space-between;
	border-radius: 20px;
}

.hero-text-container,
.hero-image-container {
	flex-direction: column;
	display: flex;
	height: 700px;
	width: 700px;
	min-width: 315px;
	text-align: center;
}

.hero-text-container {
	justify-content: center;
	align-items: center;
	row-gap: 30px;
}

.hero-text {
	font-size: 5rem;
	color: var(--project-color-dark);
	text-shadow: 1px 1px 8px var(--project-color-light);
}

.hero-slogan-text {
	font-size: 1.7rem;
	color: var(--project-color-light);
	margin-bottom: 15px;
}

.hero-section-hr {
	width: 80%;
	border: 3px outset var(--project-color-dark);
	box-shadow: 1px 1px 8px 1px var(--project-color-light);
	margin-bottom: 30px;
}

.hero-image-container {
	justify-content: center;
}

.facility-img-container {
	width: 95%;
	height: 75%;
	border-radius: 8px;
	overflow: hidden;
}

.facility-img-container > img {
	width: 90%;
	height: 90%;
}

.facility-social-container {
	width: 100%;
	height: 10%;
	font-size: 2rem;
	color: var(--project-color-light);
	text-shadow: 4px 4px 4px var(--project-color-dark);
	justify-content: space-evenly;
}

.facility-social-container > i:hover {
	transform: scale(1.1);
	cursor: pointer;
}

/* **Services Section */

/* .services-section {
	outline: var(--olY);
} */

.ceo-container {
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	border: 3px ridge var(--project-color-dark);
	border-radius: 20px;
	box-shadow: 2px 2px 15px 5px var(--project-color-dark);
	background: rgba(212, 216, 221, 0.8);
	padding-top: 10px;
	position: relative;
	transition: all ease-in 0.5s;
	justify-content: space-evenly;
}

.ceo-dots {
	height: 120px;
	width: 120px;
	background-color: rgba(26, 45, 66, 0.9);
	border-radius: 50%;
	position: absolute;
	color: var(--project-color-light);
	display: flex;
	place-content: center;
	place-items: center;
	font-size: 40px;
}

.ceo-dots:nth-child(1) {
	top: 60px;
	left: -40px;
	height: 180px;
	width: 180px;
}
.ceo-dots:nth-child(2) {
	left: 25px;
	height: 220px;
	width: 220px;
	bottom: 100px;
	left: 90px;
}
.ceo-dots:nth-child(3) {
	bottom: 175px;
	right: 20px;
	top: 95px;
}

.ceo-image-container,
.ceo-statement-container {
	flex-direction: column;
	height: 650px;
	width: 400px;
}

.ceo-image-container {
	position: relative;
}

.ceo-image-container > img {
	width: 320px;
	height: 320px;
	border: 5px solid var(--project-color-dark);
	border-radius: 20px;
	margin-bottom: 2px;
	z-index: 1;
}

.ceo-figure {
	font-size: 25px;
	font-weight: 600;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	color: var(--project-color-light);
	z-index: 1;
	margin-bottom: 3px;
}

.ceo-figcaption {
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: var(--project-color-light);
	z-index: 1;
}

.ceo-social-container {
	width: 0px;
	height: 300px;
	margin-top: 20px;
	column-gap: 40px;
	position: absolute;
	flex-direction: column;
	right: 0px;
	top: 120px;
	justify-content: space-around;
	transition: width ease-in 0.5s;
}

.ceo-social-container > i {
	color: var(--project-color-dark);
	font-size: 30px;
	text-shadow: 1px 1px 1px var(--black);
	visibility: hidden;
}

.ceo-statement-container {
	color: var(--project-color-dark);
	row-gap: 50px;
	position: relative;
}

.ceo-message-header {
	font-size: 1.8rem;
	font-weight: 600;
	width: 90%;
	line-height: 2;
	text-align: center;
}

.ceo-quote-marks {
	position: absolute;
	font-size: 90px;
	display: flex;
	visibility: hidden;
}

.quote-top {
	left: 0;
	top: 170px;
}

.quote-bottom {
	right: 50px;
	bottom: 50px;
}

.ceo-statement {
	font-size: 1.2rem;
	line-height: 1.5;
	width: 85%;
	font-weight: 600;
}

.services-banner {
	height: 100px;
	width: 100%;
	justify-content: center;
	margin: 30px 0;
}
.services-header-text {
	color: var(--project-color-dark);
	text-shadow: 1px 1px 8px var(--project-color-light);
	place-content: center;
	height: 90px;
	padding-left: 10px;
	font-size: 3rem;
}

.services-cards-wrapper {
	width: 100%;
	height: auto;
	padding: 10px 0;
	flex-wrap: wrap;
	gap: 70px;
}

.service-card {
	height: 320px;
	width: 300px;
	border-radius: 10px;
	flex-direction: column;
	justify-content: flex-start;
	background: rgba(26, 45, 66, 0.6);
	row-gap: 30px;
	box-shadow: 2px 2px 8px 3px var(--black);
	position: relative;
}

.service-card-header-text {
	width: 95%;
	font-size: 2rem;
	text-shadow: 2px 2px 3px var(--black);
	color: var(--accent-blue);
	border-bottom: 3px solid var(--accent-blue);
	margin-top: 20px;
}

.service-card-description-text {
	font-size: 1.1rem;
	color: var(--project-color-light);
	text-align: center;
	font-weight: 600;
}

.service-card-view-more-btn {
	margin-top: 10px;
	background: linear-gradient(
		15deg,
		rgba(212, 216, 221, 0.5),
		var(--accent-blue),
		var(--accent-blue),
		var(--accent-blue),
		var(--project-color-light),
		var(--project-color-light)
	);
}

.services-card-curtain {
	position: absolute;
	height: 15px;
	cursor: pointer;
	width: 100%;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 1px 1px 2px 3px var(--black);
	background: linear-gradient(
		15deg,
		rgba(212, 216, 221, 0.5),
		var(--accent-blue),
		var(--accent-blue),
		var(--accent-blue),
		var(--project-color-light),
		var(--project-color-light)
	);
	transition: height ease-out 0.2s;
}
.services-card-curtain-active {
	width: 100%;
	height: 100%;
	position: absolute;
	transition: height ease-in 0.4s;
	z-index: 1;
	background: rgba(26, 45, 66, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 10px;
	row-gap: 5px;
}

.curtain-header {
	width: 95%;
	color: var(--project-color-light);
	font-size: 1.5rem;
	height: 10%;
	display: none;
}

.curtain-ul {
	width: 98%;
	height: 80%;
	display: none;
	flex-direction: column;
	row-gap: 10px;
	justify-content: space-evenly;
}

.curtain-ul > li {
	width: 98%;
	height: 20px;
	color: var(--project-color-light);
	font-size: 1.2rem;
	padding-left: 8px;
}

.meet-chiefs-container {
	justify-content: space-evenly;
	margin-top: 30px;
	flex-wrap: wrap;
	gap: 80px;
}

.profile-card {
	height: 260px;
	width: 250px;
	border: 1px outset var(--project-color-light);
	flex-direction: column;
	justify-content: flex-start;
	background: rgba(212, 216, 221, 0.8);
	border-radius: 2px;
	box-shadow: 2px 2px 5px 3px var(--black);
	position: relative;
	row-gap: 18px;
	padding: 10px;
}

.profile-img-container {
	width: 180px;
	height: 180px;
	border: 2px groove var(--project-color-dark);
	border-radius: 50%;
	/* overflow: hidden; */
}

.profile-img-container > img {
	width: 100%;
	height: 100%;
	object-fit: fill;
	border-radius: 50%;
}

.profile-text-container {
	width: 100%;
	height: 50px;
	flex-direction: column;
	row-gap: 5px;
}

.chief-social-container {
	height: 100%;
	width: 0px;
	position: absolute;
	right: 2px;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 20px;
	transition: width ease-in 0.6s;
	padding-right: 2px;
}

.chief-social-container > i {
	font-size: 25px;
	color: var(--project-color-light);
	visibility: hidden;
}

.flex-active {
	display: flex;
}

.flex-inactive {
	display: none;
}
