.hero-section {
	width: 100%;
	background: linear-gradient(
		15deg,
		rgba(212, 216, 221, 0.5),
		rgba(26, 45, 66, 0.5),
		rgba(26, 45, 66, 0.2),
		rgba(26, 45, 66, 0.5),
		rgba(26, 45, 66, 0.3)
	);
	justify-content: space-between;
}

.hero-text-container,
.hero-image-container {
	flex-direction: column;
	display: flex;
	height: 700px;
	width: 700px;
	min-width: 315px;
	text-align: center;
}

.hero-text {
	font-size: 5rem;
	color: var(--project-color-dark);
	text-shadow: 1px 1px 8px var(--project-color-light);
	margin-top: 15px;
}

.hero-text-container {
	justify-content: center;
	align-items: center;
}

.hero-slogan-text {
	font-size: 2rem;
	color: var(--project-color-light);
	margin-bottom: 15px;
}

.btn {
	background-color: var(--accent-blue);
	color: var(--project-color-light);
	width: 120px;
	height: 40px;
	border-radius: 15px;
	border: 1px solid var(--project-color-dark);
	box-shadow: 1px 1px 5px 1px var(--project-color-dark);
	color: var(--project-color-light);
	font-size: 15px;
	font-weight: 600;
	justify-self: center;
}

.hero-image-container {
	/* outline: var(--ol); */
	justify-content: space-around;
}

.facility-img-container {
	width: 95%;
	height: 75%;
	border-radius: 8px;
	overflow: hidden;
}

.facility-img-container > img {
	width: 100%;
	height: 100%;
}

.facility-social-container {
	width: 100%;
	height: 10%;
	font-size: 2rem;
	color: var(--project-color-light);
	text-shadow: 4px 4px 4px var(--project-color-dark);
	justify-content: space-evenly;
}

.facility-social-container > i:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.flex-active {
	display: flex;
}

.flex-inactive {
	display: none;
}
