.hero-section {
	background: linear-gradient(
		15deg,
		rgba(212, 216, 221, 0.1),
		rgba(26, 45, 66, 0.45),
		rgba(26, 45, 66, 0.45),
		rgba(26, 45, 66, 0.45),
		rgba(26, 45, 66, 0.45)
	);
	border-radius: 20px;
	position: relative;
}

.hero-section > img {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
	object-fit: fill;
}

.hero-text-container {
	flex-direction: column;
	height: 700px;
	width: 90%;
	min-width: 315px;
	text-align: center;
	row-gap: 30px;
}

.hero-text {
	font-size: 5rem;
	color: var(--project-color-light);
	text-shadow: 1px 3px 3px var(--black);
	font-family: var(--project-font);
}

.hero-section-hr {
	width: 60%;
	border: 2px solid var(--project-color-dark);
	border-radius: 15px;
	margin-bottom: 30px;
}

.hero-slogan-text {
	font-size: 1.5rem;
	color: var(--project-color-light);
	flex-direction: column;
	font-weight: 600;
	text-shadow: var(--text-shadow);
}

.hero-tagline {
	font-size: 2.5rem;
	color: var(--accent-blue);
}

.hero-phrase {
	width: 80%;
	line-height: 1.8;
}

.facility-social-container {
	width: 80%;
	height: 20%;
	font-size: 2rem;
	color: var(--project-color-light);
	text-shadow: var(--text-shadow);
	justify-content: space-evenly;
}

.facility-social-container > i:hover {
	transform: scale(1.1);
	cursor: pointer;
}

/* **Services Section */

.services-section {
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 80px;
}

/* ++Why Choose Us Container */

.why-choose-us-container {
	width: 100%;
	height: auto;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;

	padding: 12px;
	margin: -40px 0 60px 0;
	border-radius: 15px;
}

.why-eterna-header-question {
	height: 50px;
	font-size: 2.4rem;
	color: var(--project-color-light);
	text-shadow: 1px 3px 3px var(--black);
}

.why-question-2 {
	margin-bottom: 15px;
}

.why-cards-wrapper {
	height: auto;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
	gap: 30px;
	margin: 40px 0;
}

.why-card {
	width: 310px;
	height: 220px;
	flex-direction: column;
	outline: var(--olB);
	padding: 2px;
	border-radius: 10px;
	box-shadow: 2px 2px 8px 2px var(--black);
	justify-content: space-evenly;
	background: linear-gradient(65deg, var(--project-color-dark), var(--accent-blue));
	text-shadow: 1px 3px 3px var(--black);
}

.why-card > i {
	width: 80px;
	height: 80px;
	display: flex;
	font-size: 3rem;
	place-content: center;
	color: var(--project-color-light);
	place-items: center;
	border: 3px solid var(--project-color-light);
	border-radius: 50%;
	box-shadow: 2px 2px 5px 2px var(--black);
}

.why-card > h4 {
	color: var(--project-color-light);
	font-size: 1.3rem;
	text-align: center;
}

.why-card > h5 {
	color: var(--project-color-light);
	text-align: center;
	font-size: 0.9rem;
	line-height: 1.5;
}

.why-question-2 {
	height: fit-content;

	margin: 40px 0;
}

.services-cards-wrapper {
	width: 100%;
	height: auto;
	padding: 10px 0;
	flex-wrap: wrap;
	gap: 70px;
	margin-bottom: 50px;
	justify-content: space-evenly;
}

.service-card {
	height: 230px;
	width: 310px;
	border-radius: 2px;
	flex-direction: column;
	justify-content: flex-start;
	background: linear-gradient(65deg, var(--project-color-dark), var(--accent-blue));

	row-gap: 20px;
	box-shadow: 2px 2px 8px 3px var(--black);
	position: relative;
}

.service-card-header-text {
	width: 95%;
	font-size: 1.8rem;
	text-shadow: 2px 2px 3px var(--black);
	color: var(--project-color-light);
	border-bottom: 3px solid var(--project-color-dark);
	margin-top: 15px;
	text-align: center;
}

.service-card-description-text {
	font-size: 1.1rem;
	color: var(--project-color-light);
	text-align: center;
}

/* ++CEO Container */

.ceo-container {
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	border-radius: 60px;
	padding-top: 10px;
	position: relative;
	transition: all ease-in 0.4s;
	justify-content: space-evenly;
	margin-bottom: 60px;
	background: var(--project-color-dark);
	background: linear-gradient(
		15deg,
		rgba(212, 216, 221, 0.5),
		rgba(26, 45, 66, 0.5),
		rgba(26, 45, 66, 0.2),
		rgba(26, 45, 66, 0.5),
		rgba(26, 45, 66, 0.3)
	);
}

.ceo-dots {
	height: 120px;
	width: 120px;
	background-color: var(--project-color-dark);
	border-radius: 50%;
	position: absolute;
	display: flex;
	place-content: center;
	place-items: center;
	font-size: 40px;
}

.ceo-dots:nth-child(1) {
	top: 40px;
	left: -50px;
	height: 180px;
	width: 180px;
	padding: 15px;
}
.ceo-dots:nth-child(2) {
	left: 25px;
	height: 220px;
	width: 220px;
	bottom: 60px;
	left: 90px;
}
.ceo-dots:nth-child(3) {
	bottom: 175px;
	right: -20px;
	top: 75px;
	padding: 20px;
}

.ceo-image-container,
.ceo-statement-container {
	flex-direction: column;
	height: 650px;
	width: 400px;
}

.ceo-image-container {
	position: relative;
}

.ceo-image-container > img {
	width: 320px;
	height: 420px;
	border: 5px solid var(--project-color-dark);
	border-radius: 20px;
	margin-bottom: 2px;
	z-index: 1;
}

.ceo-figure {
	font-size: 25px;
	font-weight: 600;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	color: var(--project-color-light);
	z-index: 1;
	margin-bottom: 3px;
}

.ceo-figcaption {
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: var(--project-color-light);
	z-index: 1;
}

.ceo-social-container {
	width: 0px;
	height: 300px;
	margin-top: 20px;
	column-gap: 40px;
	position: absolute;
	flex-direction: column;
	right: 0px;
	top: 120px;
	justify-content: space-around;
	transition: width ease-in 0.5s;
}

.ceo-social-container > i {
	color: var(--project-color-dark);
	font-size: 30px;
	text-shadow: 1px 1px 1px var(--black);
	visibility: hidden;
}

.ceo-statement-container {
	color: var(--project-color-dark);
	row-gap: 30px;
	position: relative;
}

.ceo-message-header {
	font-size: 2rem;
	font-weight: 600;
	width: 90%;
	text-align: center;
	color: var(--project-color-light);
}

.ceo-quote-marks {
	position: absolute;
	font-size: 8rem;
	display: flex;
	visibility: hidden;
	justify-content: center;
	align-content: center;
	color: var(--accent-blue);
	place-content: center;
	place-content: center;
	display: flex;
}

.quote-top {
	left: 12px;
	top: 120px;
}

.quote-bottom {
	right: 40px;
	bottom: 5px;
}

.ceo-statement {
	font-size: 1.1rem;
	line-height: 1.7;
	width: 88%;
	font-weight: 600;
	z-index: 1;
	text-align: justify;
	color: var(--project-color-light);
}

/* ++Top Exec Container */

.exec-header {
	align-self: center;
	font-size: 2rem;
	color: var(--project-color-light);
	text-shadow: var(--text-shadow);
}

.meet-our-staff-text {
	color: var(--project-color-light);
	font-size: 1.2rem;
	width: 80%;
	margin-top: 20px;
	line-height: 1.4;
	text-align: center;
	font-weight: 600;
	height: auto;
	word-wrap: break-word;
	hyphens: auto;
	text-shadow: var(--text-shadow);
}

.top-exec-container {
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	justify-content: space-evenly;
	row-gap: 60px;
	column-gap: 100px;
	margin: 30px 0;
	padding: 40px 20px;
	border-radius: 20px;
}

.exec-card {
	height: 220px;
	width: 440px;
	justify-content: flex-start;
	background: linear-gradient(
		15deg,
		rgba(212, 216, 221, 0.5),
		rgba(26, 45, 66, 0.5),
		rgba(26, 45, 66, 0.2),
		rgba(26, 45, 66, 0.5),
		rgba(26, 45, 66, 0.3)
	);
	border-radius: 10px;
	box-shadow: 2px 2px 5px 3px var(--black);
	row-gap: 18px;
	position: relative;
	overflow: hidden;
	outline: var(--ol);
}

.exec-statement-container {
	width: 50%;
	height: 100%;
	position: relative;
	flex-direction: column;
	justify-content: space-around;
}

.exec-quote-marks {
	font-size: 10rem;
	position: absolute;
	top: -30;
	left: 0;
	color: var(--project-color-dark);
	z-index: -1;
}

.exec-statement {
	font-size: 18px;
	color: var(--project-color-light);
	word-break: break-word;
	hyphens: auto;
	line-height: 1.5;
	text-align: center;
	z-index: 2;
	font-weight: 600;
}
.profile-text-container {
	width: 100%;
	height: 50px;
	flex-direction: column;
	row-gap: 5px;
	color: var(--project-color-light);
}

.exec-img-wrapper {
	width: 50%;
	height: 100%;
	position: relative;
	flex-direction: column;
}

.exec-img-container {
	height: 100%;
	width: 100%;
}

.exec-img-container > img {
	height: 100%;
	width: 100%;
	object-fit: fill;
}

.exec-social-container {
	height: 90%;
	width: 0px;
	position: absolute;
	right: 2px;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 20px;
	transition: width ease-in 0.6s;
	padding-right: 2px;
}

.exec-social-container > i {
	font-size: 25px;
	color: var(--project-color-light);
	visibility: hidden;
}

/* ++Chief Select Container */
.top-exec-section {
	flex-direction: column;
}

.chief-select-container {
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	column-gap: 120px;
	position: relative;
	overflow: hidden;
	outline: var(--olR);
}

.chief-select-curtin {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: var(--main-bg-color);
	flex-direction: column;
	row-gap: 20px;
	transition: all ease 0.5s;
	top: 0;
	border: 3px solid var(--project-color-dark);
	border-radius: 8px;
	display: none;
}

.chief-select-curtin-up {
	transition: height ease 0.5s;
	height: 0px;
}

.chief-search-container > .inputs {
	width: 100%;
}

.chief-search-container {
	width: 310px;
	height: 500px;
	row-gap: 30px;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 5px 0;
}

.chief-select-span {
	display: block;
	width: 130px;
	height: 40px;
	background: radial-gradient(var(--accent-blue), var(--project-color-dark));
	color: var(--project-color-light);
	border-radius: 4px;
	place-content: center;
	text-align: center;
	text-shadow: 1px 3px 3px var(--black);
	box-shadow: 1px 2px 3px 2px var(--black);
	cursor: pointer;
	transition: all ease 0.9s;
	padding: 2px;
}

.chief-select-span:hover {
	transform: scale(1.05);
	transition: all ease 0.9s;
	background: linear-gradient(90deg, var(--accent-blue), var(--project-color-dark));
}

.chief-card-container {
	height: 335px;
	width: 440px;
	flex-direction: column;
	justify-content: space-evenly;
}

.department-label {
	color: var(--project-color-light);
	text-shadow: var(--text-shadow);
	text-transform: uppercase;
}

.chief-search-input {
	width: 300px;
	height: 10px;
}

.chief-search-text {
	color: var(--project-color-light);
	font-size: 1.1rem;
	text-shadow: var(--text-shadow);
}

/* **Patient Center */

.patient-center-section {
	/* box-shadow: 2px 2px 10px 8px var(--project-color-dark); */
	border-radius: 10px;
	position: relative;
	background: linear-gradient(
		15deg,
		var(--accent-blue),
		rgba(35, 35, 255, 0.7),
		var(--accent-blue)
	);
	justify-content: center;
}

.patient-center-section > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	z-index: -1;
	border-radius: 10px;
}

.patient-care-header-container {
	width: 100%;
	height: 80px;
	justify-content: start;
	padding: 0 10px;
	position: relative;
	border-bottom: 3px outset var(--project-color-dark);
	background: linear-gradient(90deg, var(--project-color-dark), var(--accent-blue));
}

.patient-center-header-text {
	font-size: 2.2em;
	color: var(--project-color-light);
	text-shadow: 1px 2px 3px var(--black);
}

/* !!Find Care Container */

.find-care-container {
	width: 100%;
	height: auto;
	flex-direction: column;
	margin-bottom: 50px;
	justify-content: start;
	row-gap: 30px;
}

.search-heading-text {
	width: 80%;
	font-size: 2rem;
	color: var(--project-color-light);
	text-align: center;
	text-shadow: 2px 2px 2px var(--black);
	margin-bottom: 10px;
}

.search-container {
	width: 600px;
	height: 120px;
	flex-direction: column;
	position: relative;
	justify-content: space-around;
}

.search-btn {
	background: linear-gradient(90deg, rgba(26, 45, 66, 0.9), var(--accent-blue));
}

.search-input {
	width: 100%;
	border: 0;
	padding: 10px;
	font-size: 1em;
	box-shadow: 2px 2px 8px 2px var(--black);
	color: var(--project-color-light);
	border-radius: 20px;
	height: 55px;
	background: linear-gradient(90deg, rgba(26, 45, 66, 0.8), var(--accent-blue));
}

.search-input::placeholder {
	font-size: 20px;
	color: var(--project-color-light);
}

.fa-magnifying-glass {
	font-size: 22px;
	position: absolute;
	right: 10px;
	color: var(--project-color-light);
	text-shadow: 2px 2px 2px var(--black);
	top: 18px;
}

.search-toggles-container {
	width: 400px;
	height: 160px;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.search-toggle {
	display: flex;
	width: 140px;
	height: 50px;
	box-sizing: content-box;
	align-items: center;
	color: var(--project-color-light);
	border: 2px outset var(--project-color-dark);
	justify-content: center;
	flex-direction: column;
	row-gap: 2px;
	border-radius: 20px;
	font-size: 18px;
	cursor: pointer;
	box-shadow: 1px 1px 1px 1px var(--black);
	background: linear-gradient(90deg, var(--project-color-dark), var(--accent-blue));
	font-weight: 600;
	text-shadow: 1px 3px 3px var(--black);
}

.search-btn:hover,
.search-toggle:hover {
	transform: scale(1.1);
	transition: all ease 0.3s;
	color: var(--project-color-light);
	background: linear-gradient(90deg, var(--accent-blue), var(--project-color-dark));
}

.search-hr {
	width: 90%;
	border: 4px outset var(--project-color-dark);
	border-radius: 3px;
}

.patient-forms-wrapper-container {
	height: auto;
	width: 98%;
	padding: 15px;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	margin: 10px 0 40px 0;
}

.patient-center-text-header {
	font-size: 2rem;
	color: var(--project-color-light);
	margin-bottom: 15px;
	text-shadow: 3px 3px 3px var(--black);
}

.form-cover-container {
	height: 100%;
	width: 95%;
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: start;
	align-self: start;
	background: rgba(26, 45, 66, 0.8);
	border-radius: 20px;
	box-shadow: 2px 2px 8px 3px var(--black);
	row-gap: 30px;
	padding: 10px 0;
}

.form-cover-active {
	height: 80px;
	padding-top: 0;
	box-shadow: none;
	background-color: transparent;
}

.cover-icon-container {
	flex-direction: column;
	justify-content: center;
	height: 170px;
	align-items: center;
	row-gap: 20px;
	width: 100%;
	display: flex;
	width: 95%;
	border-radius: 15px;
	/* background: linear-gradient(var(--accent-blue), var(--project-color-dark)); */
	transition: all ease 0.2s;
}

.cover-icon-container > i {
	width: 80px;
	height: 80px;
	place-content: center;
	text-align: center;
	color: var(--project-color-light);
	font-size: 3rem;
	border-radius: 50%;
	box-shadow: 1px 1px 5px 2px var(--black);
	text-shadow: 3px 2px 2px var(--black);
	background: linear-gradient(90deg, var(--accent-blue), var(--project-color-dark));
}

.cover-icon-container > h2 {
	width: fit-content;
	margin-right: 15px;
}

.fa-x {
	position: absolute;
	right: 10px;
	display: none;
}

.cover-icon-container-active > i,
.cover-btn {
	width: 50px;
	height: 50px;
	place-content: center;
	text-align: center;
	color: var(--project-color-light);
	font-size: 1.5rem;
	border-radius: 50%;
	box-shadow: 1px 1px 5px 1px var(--black);
	text-shadow: 3px 2px 2px var(--project-color-dark);
	background: linear-gradient(90deg, var(--accent-blue), var(--project-color-dark));
}

.cover-icon-container > .patient-toggle {
	width: 30px;
	height: 30px;
	font-size: 0.8rem;
}

.cover-btn {
	width: 210px;
	height: 50px;
	border-radius: 8px;
	font-size: 1.1em;
	background: linear-gradient(90deg, var(--project-color-dark), var(--accent-blue));
}

.patient-toggle:hover {
	transform: scale(1.1);
}

.cover-icon-container-active {
	width: 95%;
	height: 60px;
	display: flex;
	flex-direction: row;
	padding-left: 10px;
	justify-content: start;
	align-items: baseline;
	padding-top: 10px;
	border-radius: 15px;
	background: linear-gradient(90deg, var(--accent-blue), var(--project-color-dark));
	position: relative;
	transition: all ease 0.4s;
}

.form-cover-header {
	color: var(--project-color-light);
	font-size: 2rem;
	place-content: center;
	height: fit-content;
	margin-left: 20px;
	text-shadow: 3px 2px 2px var(--project-color-dark);
}

.cover-text {
	height: 220px;
	width: 90%;
	font-size: 20px;
	color: var(--project-color-light);
	word-break: break-word;
	hyphens: auto;
	line-height: 1.5;
}

/* ** Patient Forms */

.patient-form-container {
	width: 440px;
	height: 520px;
	transition: height ease 2s;
	position: relative;
}

.patient-portal-form,
.pay-bill-form,
.schedule-appointment-form {
	height: 430px;
	display: none;
	width: 95%;
	background: rgba(26, 45, 66, 0.8);
	border-radius: 10px;
	box-shadow: 2px 2px 8px 5px var(--project-color-dark);
	flex-direction: column;
	justify-content: space-around;
	visibility: hidden;
	margin-top: 70px;
	display: flex;
	padding-bottom: 10px;
}

.from-header-text {
	font-size: 2.3rem;
	color: var(--project-color-light);
}

.input-container {
	width: 95%;
	height: 200px;
	flex-direction: column;
	justify-content: space-around;
}
.inputs {
	width: 80%;
	height: 45px;
	border: 2px groove var(--accent-blue);
	border-radius: 10px;
	color: var(--project-color-light);
	padding-left: 5px;
	box-shadow: 1px 1px 5px 1px var(--black);
	background: var(--project-color-dark);
	font-size: 1em;
}

.pay-bill-form .input-container,
.schedule-appointment-form .input-container {
	height: 300px;
}

.schedule-appointment-form .inputs {
	width: 90%;
	border-radius: 8px;
}

.inputs::placeholder {
	color: var(--project-color-light);
	font-size: 1em;
	bottom: 5px;
	padding-left: 5px;
}

select {
	font-size: 1em;
}

.date-input {
	font-size: 1.2em;
	color: var(--accent-blue);
}

option {
	color: var(--accent-blue);
}

.patient-portal-form > a {
	color: var(--project-color-light);
	text-decoration: underline;
	font-size: 1.2rem;
	margin-bottom: 12px;
}

.form-button-container {
	width: 95%;
	height: fit-content;
	justify-content: space-evenly;
}

.static-toggles {
	place-content: center;
	text-align: center;
	font-size: 16px;
	text-shadow: 1px 1px 1px var(--black);
	background: var(--project-color-dark);
	box-shadow: 1px 1px 2px 1px var(--black);
}

.schedule-appointment-form .static-toggles {
	font-size: 1.1rem;
}

.flex-active {
	display: flex;
}

.flex-inactive {
	display: none;
}
